<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [routerLink]="'/perfil/'" routerDirection="forward">
                <ion-icon name="contact" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Alcaldias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">



    <ion-card mode="ios" (click)="presentAlertPrompt()">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img src="../../assets/ALCALDES/1-Layda Sansores San Román (Álvaro Obregón).png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Álvaro Obregón</p>
                        <p style="font-size: 14px;">Lady Llerenas Morales</p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: rgb(2, 24, 124);">MORENA</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>




    <ion-card mode="ios">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img src="../../assets/ALCALDES/2-Vidal Llerenas Morales (Álvaro Obregón).png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Azcapotzalco</p>
                        <p style="font-size: 14px;">Vidal Llerenas Morales.</p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: rgb(2, 24, 124);">MORENA</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card mode="ios">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img src="../../assets/ALCALDES/3-Santiago Taboada Cortina (Benito Juárez).png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Benito Juárez</p>
                        <p style="font-size: 14px;">Santiago Taboada Cortina.</p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: rgb(2, 24, 124);">PAN</p>

                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


    <ion-card mode="ios">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img src="../../assets/ALCALDES/4-Manuel Negrete Arias (Coyoacán).png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Coyoacán</p>
                        <p style="font-size: 14px;">Manuel Negrete Arias</p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: rgb(2, 24, 124);">PAN</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


    <ion-card mode="ios">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img src="../../assets/ALCALDES/5-Adrián Rubalcava Suárez (Cuajimalpa).png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Cuajimalpa</p>
                        <p style="font-size: 14px;">Adrián Rubalcava Suárez</p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: rgb(2, 24, 124);">PRI-PVEM</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


    <ion-card mode="ios">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img src="../../assets/ALCALDES/6-Néstor Núñez López (Cuauhtémoc).png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Cuauhtémoc</p>
                        <p style="font-size: 14px;">Néstor Núñez López</p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: rgb(2, 24, 124);">MORENA</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


    <ion-card mode="ios">
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-avatar>
                        <img src="../../assets/ALCALDES/7-Francisco Chíguil Figueroa (Gustavo A. Madero).png">
                    </ion-avatar>
                </ion-col>
                <ion-col size="5">
                    <div text-start>
                        <p style="font-weight: bold; font-size: 18px; color: black;">Gustavo A. Madero</p>
                        <p style="font-size: 14px;">Francisco Chíguil Figueroa</p>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div text-end>
                        <p style="font-weight: bold; font-size: 18px; color: rgb(2, 24, 124);">MORENA</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>




</ion-content>