<ion-content class="tutorial-page">
    <div padding text-end>
        <ion-button fill="clear" [routerLink]="'/login/'" routerDirection="forward">Saltar
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </div>

    <ion-slides pager="true">
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/img/undraw_super_woman_dv0y.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Somos la liga de la justicia</h2>
                        <br>
                        <br>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/img/undraw_superhero_kguv.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Nosotros queremos tus superpoderes para dar solucion a tus demandas</h2>
                        <p></p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div></div>
                        <img src="../../assets/img/undraw_judge_katerina_limpitsouni_ny1q.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Llevandolas ante la justicia</h2>
                        <!-- <p>Continuacion de la funcion texto simulado</p> -->
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <!-- <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/img/undraw_super_thank_you_obwk.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Se parte de la  liga</h2>
                        <p>Continuacion de la funcion texto simulado</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide> -->

        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../../assets/img/undraw_super_thank_you_obwk.svg" alt="">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>Se parte de la liga de la justicia!</h2>
                        <ion-button expand="block" color="dark" [routerLink]="'/login/'" routerDirection="forward">Comenzar</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>